<div class="container-fluid bg-white m-0">
    <div class="container py-4">
        <hr style="height:1px;border-width:0;color:gray;background-color:gray">
        <div  class="d-flex justify-content-start ">
            <div>
                <span class="fw-bold fs-1">This First Heading</span> <span class="text-secondary fw-bold fs-1"> Will Catch Your Eye</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad deleniti quis, autem harum corrupti numquam veniam eligendi eos pariatur laudantium? Ex molestiae quia dolores ut illum. Neque voluptatibus non adipisci. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum obcaecati fugit dicta ipsam eaque quaerat quas, tempore perferendis aut nulla! Vel soluta cupiditate quam praesentium qui voluptatem sequi natus voluptate.</p>
            </div>
            <img src="https://raw.githubusercontent.com/wissamserhan/exercise-collaborative-html-website/master/website/assets/img/1.jpg" alt="imagen" class="rounded-circle ms-3 w-25">
            </div>
