<div class="bg-white d-flex justify-content-between">
    <div><img class="rounded-circle"
            src="https://raw.githubusercontent.com/wissamserhan/exercise-collaborative-html-website/master/website/assets/img/2.jpg"
            alt="imagen" alt="alusiva a servicios"></div>
    <div>
        <div>
            <h1>The Second Heading <span class="text-secondary">Is Pretty Coll Too</span></h1>
        </div>
        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum dolor nobis illo libero voluptatum.
                Repellendus totam porro nemo sapiente sequi dolores tempore fugit pariatur, cumque in eos est officiis
                minus?</p>
        </div>
    </div>
</div>